/* You can add global styles to this file, and also import other style files */
.btn{
    border: 0;
    border-radius: 5px;
    padding: 10px 20px;
}
input{
    border: 1px solid black;
    outline: 0;
    padding: 10px;
}